.totalContact {
  margin-top: 20px;
  text-align: right;
}

.count {
  padding-left: 10px;
  color: rgb(147, 216, 187);
}

.contact {
  list-style: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0px;
  box-shadow: 0px 2px 5px rgb(180, 180, 180);
}

.card:hover {
  transition: ease-out 200ms;
  background-color: rgb(240, 243, 241);
  /* transform: scale(1.005); */
}

.contact-details {
  margin-right: auto;
}

.photo {
  border-radius: 50%;
  height: 96px;
  width: 96px;
  margin-right: 20px;
}

.name {
  font-size: 2em;
}

.address {
  font-size: 1.2em;
  color: rgb(126, 126, 126);
}

.btn-del {
  font-size: 1.4em;
  color: rgb(90, 90, 90);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-del:hover {
  transition: ease-in-out 100ms;
  color: rgb(147, 216, 187);
}

.title-mr {
  color: rgb(147, 216, 187);
}

.title-mrs {
  color: rgb(240, 161, 161);
}

.title-mx {
  color: rgb(161, 202, 240);
}
