nav {
  height: 48px;
  background-color: rgb(147, 216, 187);
  padding: 10px;
  display: flex;
  align-items: center;
}

.brand {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 40px;
}
